@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,200;1,400&display=swap');

body{
	font-family: 'Roboto', sans-serif;
	user-select: none;

	background: linear-gradient(to right,#A29F9F,#D3CBCB,#F5EFEF);
}




.container{

	display: flex; 
	justify-content: center; 
	/*background-color: skyblue; */
	flex-direction: column;
	align-items: center; 
}

.wrapper{
	
	box-shadow: 20px 20px 20px rgba(128,128,128,0.6); 
	width: 20%; 
	/*padding: 10px; */
	/*background-color: lightgreen; */
	display: grid; 
	grid-template-columns: repeat(1,1fr);
	grid-template-rows: repeat(7,minmax(50px,auto)); 
}


.calc-btn{
	background-color: silver; 
	color: black; 
	/*width: 25px; */
	height: 45px; 
	border: 1px solid grey; 
	cursor: pointer; 
	font-size: 32px; 
	font-weight: 400; 
	padding: 15px; 
	text-align: center; 
}


.calc-btn:hover{
	background-color: orange; 
}


.operator-btn{
	background-color: orange; 
	color: white; 
}

.operator-btn:hover{
	background-color: #E37F13;
}

.row{
	 
	/*display: flex; */
	display: grid; 
	grid-template-columns: repeat(4,1fr); 
}

.row-one{
	grid-row: 1/3; 
}

#calc-display{
	grid-column: 1/5; 
	background-color: #383838; 
	color: white; 
	text-align: right; 
	font-size: 52px; 
	vertical-align: bottom;	
	/*white space tooremember the overflow hidden later*/
	padding: 12px; 
	border-radius: 10px 10px 0 0; 
}

#equalto{
	border-radius: 0 0 10px 0; 
}



#clear{
	grid-column: 1/3; 

}

#zero{
	grid-column: 1/3; 
	border-radius: 0 0 0 10px; 
}